<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    {% load staticfiles %}
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>管理中心</title>
    {% endif %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <link rel='icon' href="/static/images/meng.ico" type="image/x-icon" />
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/static/bootstrap/css/bootstrap-datetimepicker.css" rel="stylesheet"/>
    <link href="/static/bootstrap-table/src/bootstrap-table.css" rel="stylesheet">
    <link href="/static/select2/css/select2.min.css" rel="stylesheet">
    <link href="/static/custom/custom.css" rel="stylesheet">
    <script src="/static/otherjs/jquery.min.js"></script>
    <script src="/static/select2/js/select2.full.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap-datetimepicker.js"></script>
    <script src="/static/bootstrap/js/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="/static/bootstrap-table/src/bootstrap-table.js"></script>
    <script src="/static/bootstrap-table/src/locale/bootstrap-table-zh-CN.js"></script>
    <script src="/static/otherjs/knockout-3.4.2.js"></script>
    <script src="/static/otherjs/knockout.mapping.js"></script>
    <script src="/static/custom/tablejs/kobootstraptable.js"></script> 
  </head>
  <body  data-ng-app="TcbsApp">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid"> 
            <div class="navbar-header">
                <a class="navbar-brand" href="#">TCBS</a>
            </div>
            {% comment %}
            <div>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">提交</button>
                </form>
            </div>
            {% endcomment %}
            <div>
                <p class="navbar-text">本机地址: {{ clientip }}</p>
            </div>
            <div>
                <p class="navbar-text"><span class="glyphicon glyphicon-user"></span></p>
            </div>
            <div>
                <a class="navbar-brand" href="/admin">{{ username }}</a>
            </div>
            <ul class="nav navbar-nav navbar-right"> 
                <li><a href="/accounts/logout"><span class="glyphicon glyphicon-log-out"></span> 退出</a></li> 
            </ul> 
        </div>
    </nav>
    <div class="container-fluid" style="margin-top: 60px;" data-ui-view="">
    </div>
  </body>
</html>
