{% if title %}
    <title>{{title}}</title>
{% else %}
    <title>管理中心</title>
{% endif %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">假死监控列表</h4>
    </div>
    <div>
        <form id="selectmalform" name="selectmalform" class="form-group form-inline" role="form">
            {% comment %}
            <button id="domains_active" type="button" class="btn btn-default active">启用</button>
            <button id="domains_inactive" type="button" class="btn btn-default active">禁用</button>
            <button id="domains_all" type="button" class="btn btn-default active">全部</button>
            {% endcomment %}
            <div class="input-group" style="line-height: 1.42857143;">
                <label class="input-group-addon" style="line-height: 1.42857143;">状态</label>
                <select type="text" name="txt_status" class="form-control" id="txt_status"> 
                    <option value='1'>启用</option>
                    <option value='0'>禁用</option>
                    <option value='01'>全部</option>
                </select>
            </div>
            <div class="input-group" style="line-height: 1.42857143;">
                <label class="input-group-addon" style="line-height: 1.42857143;">数量</label>
                <select type="text" name="txt_num" class="form-control" id="txt_num"> 
                    <option value=15 selected>15</option>
                    <option value=30>30</option>
                    <option value=30>50</option>
                    <option value=30>100</option>
                    <option value='all'>all</option>
                </select>
            </div>
            <select type="text" class="form-control selectpicker show-tick" data-live-search="true" data-actions-box="true" name="txt_group" title="所属组[默认全部]" multiple id="txt_group" data-width="20%">
            </select>
            <select type="text" class="form-control selectpicker show-tick" data-live-search="true" data-actions-box="true" name="txt_product" title="所属产品[默认全部]" multiple id="txt_product" data-width="20%">
            </select>
            <button id="btn_query" type="button" class="btn btn-default">查询</button>
            
            {% comment %}
            <div class="input-group" style="line-height: 1.42857143;">
                <label class="input-group-addon" style="line-height: 1.42857143; width: 50px;">所属组</label>
                <select type="text" class="form-control selectpicker" name="txt_group1" id="txt_group1" data-width="5%">
                </select>
            </div>
            <div class="input-group" style="line-height: 1.42857143; width: 200px; max-width: 200px;">
                <label class="input-group-addon" style="line-height: 1.42857143; width: 50px;">产品</label>
                <select type="text" class="form-control selectpicker" name="txt_product1" id="txt_product1" style="width:150; max-width: 150px;">
                </select>
            </div>
            
            <button id="edit_group" type="button" class="btn btn-default" style="margin-left: 15px;">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>更新组
            </button>
            {% endcomment %}
        </form>
    </div>
    <div id="toolbar" class="btn-group">
        <button id="btn_add" type="button" class="btn btn-default" >
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
        </button>

        <button id="btn_edit" type="button" class="btn btn-default" >
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>修改
        </button>
        
        <button id="btn_confirm_delete" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
        </button>
    </div>
    <table id="tomcat_table" class="table table-condensed" data-bind="myBootstrapTable:$root">
    </table>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
            <div class="modal-dialog" role="document" style="width: 600px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title text-center" id="myModalLabel">新增</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-inline" style="margin-bottom: 10px;">
                            <select name="txt_add_status" class="form-control" id="txt_add_status" placeholder="状态" style="margin-right: 10px;"> 
                                <option value=1>启用</option>
                                <option value=0>禁用</option>
                            </select>
                            <select type="text" name="txt_add_group" class="form-control" id="txt_add_group" title="所属组" style="margin-right: 10px;"> 
                            </select>
                            <select type="text" name="txt_add_product" class="form-control" id="txt_add_product" placeholder="所属产品" >
                            </select>
                        </form>
                        
                        <textarea id="textarea_add_domain" name="textarea_add_domain" style="height:200px; width: 550px; margin-bottom: 10px; resize: none;" placeholder="域名URL[http://domain/uri]，每行一条"></textarea>
                        <textarea id="textarea_add_content" name="textarea_add_content" style="height:50px; width: 550px; margin-bottom: 10px; resize: none;" placeholder="域名备注"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭</button>
                        <button type="button" id="btn_add_submit" class="btn btn-primary" data-dismiss="modal"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>保存</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="editSingleModal" tabindex="-1" role="dialog" aria-labelledby="editSingleModalLabel" aria-hidden="true" data-backdrop="static">
            <div class="modal-dialog" role="document" style="width: 600px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title text-center" id="editSingleModalLabel">修改单条</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-inline" style="margin-bottom: 10px;">
                            <select name="txt_edit_status" data-bind="value:status" class="form-control" id="txt_edit_status" placeholder="状态" style="margin-right: 10px;"> 
                                <option value=1>启用</option>
                                <option value=0>禁用</option>
                            </select>
                            <select type="text" name="txt_edit_group" data-bind="value:group" class="form-control" id="txt_edit_group" placeholder="所属组" style="margin-right: 10px;">
                            </select>
                            <select type="text" name="txt_edit_product" data-bind="value:product" class="form-control" id="txt_edit_product" placeholder="所属产品" >
                            </select>
                        </form>
                        
                        <textarea id="textarea_edit_domain" name="textarea_edit_domain" data-bind="value:name" style="height:200px; width: 550px; margin-bottom: 10px; resize: none;" placeholder="域名URL[http://domain/uri]，每行一条"></textarea>
                        <textarea id="textarea_edit_content" name="textarea_edit_content" data-bind="value:content" style="height:50px; width: 550px; margin-bottom: 10px; resize: none;" placeholder="域名备注"></textarea>
                    </div>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭</button>
                        <button type="button" id="btn_update_submit" class="btn btn-primary" data-dismiss="modal"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>保存</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="editMultiModal" tabindex="-1" role="dialog" aria-labelledby="editMultiModalLabel" aria-hidden="true" data-backdrop="static">
            <div class="modal-dialog" role="document" style="width: 600px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title text-center" id="editMultiModalLabel">修改多条</h4>
                    </div>
                    <div class="modal-body">
                        <div style="overflow:scroll; max-height: 300px;margin-bottom: 10px;">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <td>id</td>
                                    <td>域名</td>
                                    <td>产品</td>
                                    <td>所属组</td>
                                    <td>状态</td>
                                    <td>备注</td>
                                </tr>
                            </thead>
                            <tbody id="UpdateDatas" style="text-align: left">
                            </tbody>
                        </table>
                        </div>
                        <form class="form-inline" style="margin-bottom: 10px;">
                            <select name="txt_edit2_status" data-bind="value:status" class="form-control" id="txt_edit2_status" title="状态[默认不修改]" style="margin-right: 10px;"> 
                                <option value selected>状态[默认不修改]</option>
                                <option value=1>启用</option>
                                <option value=0>禁用</option>
                            </select>
                            <select type="text" name="txt_edit2_group" data-bind="value:group" class="form-control" id="txt_edit2_group" placeholder="所属组[默认不修改]" style="margin-right: 10px;">
                            </select>
                            <select type="text" name="txt_edit2_product" data-bind="value:product" class="form-control" id="txt_edit2_product" placeholder="所属产品[默认不修改]">
                            </select>
                        </form>
                        
                        <textarea id="textarea_edit2_domain" name="textarea_edit2_domain" data-bind="value:name" style="height:200px; width: 550px; margin-bottom: 10px; resize: none;" placeholder="域名URL[http://domain/uri]，每行一条"></textarea>
                        <textarea id="textarea_edit2_content" name="textarea_edit2_content" data-bind="value:content" style="height:50px; width: 550px; margin-bottom: 10px; resize: none;" placeholder="域名备注"></textarea>
                    </div>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭</button>
                        <button type="button" id="btn_update2_submit" class="btn btn-primary" data-dismiss="modal"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>保存</button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="modal fade" id="modifyMail" role="dialog" aria-labelledby="modifyMailLabel" aria-hidden="true" data-backdrop="static">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title text-center" id="modifyMailLabel">请修改</h4>
                    </div>
                    <div class="modal-body">  
                        <table id="mail_table" class="table table-condensed" data-bind="myBootstrapTable:$root">
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade text-center" id="confirmDeleteModal" role="dialog" aria-labelledby="confirmDeleteModalLabel">
            <div class="modal-dialog" style="display:inline-block; width: auto;">
                <div class="modal-content" style="width:auto;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="confirmDeleteModalLabel">请确认</h4>
                    </div>
                    <div class="modal-body">  
                        <div style="overflow:scroll; max-height: 300px;">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <td>id</td>
                                    <td>域名</td>
                                    <td>产品</td>
                                    <td>所属组</td>
                                    <td>状态</td>
                                    <td>备注</td>
                                </tr>
                            </thead>
                            <tbody id="DeleteDatas" style="text-align: left">
                            </tbody>
                        </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <p style="text-align: left">删除记录总数：<span data-bind="text: datas().length"></span></p>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭</button>
                        <button type="button" id="btn_delete" class="btn btn-primary" data-dismiss="modal"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>确认删除</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade text-center" id="confirmDeleteModal" role="dialog" aria-labelledby="confirmDeleteModalLabel">
            <div class="modal-dialog" style="display:inline-block; width: auto;">
                <div class="modal-content" style="width:auto;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="confirmDeleteModalLabel">请确认</h4>
                    </div>
                    <div class="modal-body">  
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <td>id</td>
                                    <td>域名</td>
                                    <td>产品</td>
                                    <td>所属组</td>
                                    <td>状态</td>
                                    <td>备注</td>
                                </tr>
                            </thead>
                            <tbody id="DeleteDatas" style="text-align: left">
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <p style="text-align: left">删除记录总数：<span data-bind="text: datas().length"></span></p>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭</button>
                        <button type="button" id="btn_delete" class="btn btn-primary" data-dismiss="modal"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>确认删除</button>
                    </div>
                </div>
            </div>
        </div>
</div>
    <div class="modal fade" id="runprogress" tabindex="-1" role="dialog"   
       aria-labelledby="runprogressLabel" aria-hidden="true" data-backdrop="static">   
       <div class="modal-dialog">  
           <div class="modal-content" >
                <div class="modal-header">
                    <span style="text-align:center;color:blue" id="progress_head">操作进行中，请勿刷新页面......</span><br/>
                </div>
                <div class="modal-body">
                    <div class="progress progress-striped active" id="progress_bar_div">  
                        <div class="progress-bar progress-bar-success" role="progressbar" id="progress_bar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
                        </div>
                    </div>
                    <pre class="pre-scrollable" id="Checkresults"></pre>
                </div>
                <div class="modal-footer" id="progressFooter">
                </div>
           </div>  
       </div>  
    </div>  
<script src="/static/custom/tablejs/monitor/domains.js"></script>
